<!DOCTYPE html>
<html>
<head>
    <title>Comprar Carro</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>Comprar Carro</h1>

    <form action="" method="post" id="almacenform">{% csrf_token %}
    	<label for="marca">Marca</label>
        <select id="marca" name="marca">
        	<option value="default">Seleccione una marca</option>
        	{% for m in marca %}
            <option value="{{ m.pk }}">{{ m.nombre }}</option>
            {% endfor %}
        </select>
        <label for="modelo"></label>

        <select id="modelo" name="modelo">
            <option value="">---</option>
        </select>
        <input type="submit" value="Enviar">      
    </form>
    <script>
        var csrftoken = '{{ csrf_token }}';
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).ready(function() {
            $('#marca').change(function() {
                var id_marca = $(this).val();
                $.ajax({
                    url: 'json/',
                    dataType: 'json',
                    contentType: 'application/json; charser=utf-8', 
                    success: function(data) {
                        $('#modelo').empty();
                        $('#modelo').append("<option value=''>---</option>");
                        for (var idx = 0; idx < data.length; idx++) {
                            if(data[idx].fields['marca'] == id_marca) {
                                 $('#modelo').append("<option value='" + data[idx].pk + "'>" + data[idx].fields['nombre'] + "</option>");                               
                            }
                        }
                    }
                });
            });                       
        });

    </script>
</body>
</html>